body {
  background: linear-gradient(135deg, #0B1D51, #034F4F, #008080);
  
  color: #FFFFFF;
    text-align: right; /* محاذاة لليمين */
    direction: rtl;    /* اتجاه الكتابة من اليمين لليسار */
 margin-top: 80px;
 
        /* تفعيل خط "تجوال" وتحديد الاتجاه لليمين */
        font-family: 'Tajawal', sans-serif;
        direction: rtl;
        line-height: 1.6; /* مسافة مريحة بين الأسطر */
      
    }

    h1, h2, h3 {
        /* تفعيل خط "كايـرو" للعناوين */
        font-family: 'Cairo', sans-serif;
        font-weight: 700;
}
.heading{
  text-align: center;
  color: #E2A64E;
}

.addres{
  font-size: 16px;
  text-align: center;
  color: #E2A64E;
}
#personName {
  color: white;
  -webkit-text-stroke: 1px black; /* Chrome, Safari */
  font-size: 40px;
  font-weight: bold;
}

.add-new-button {
    width: 50%;
  padding: 12px;
  margin: 20px auto; /* عشان يكون في النص */
  display: block;    /* يخليه سطر لوحده */
  font-size: 16px;
  font-weight: bold;
  background: #4CA2AF;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
 
}

input {
  width: 90%;
  padding: 15px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #999;
  margin-top: 15px;
}
.next-btn {
  width: 50%;
  padding: 12px;
  margin: 20px auto; /* عشان يكون في النص */
  display: block;    /* يخليه سطر لوحده */
  font-size: 16px;
  font-weight: bold;
  background: #4CA2AF;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.next-btn:hover {
  opacity: 0.9;
}

.error {
  color: #E84C6D;
  margin-top: 10px;
  font-size: 16px;
  height: 20px;
}